
.newsImg{
    vertical-align: top;
    height: 100px;
    width: 100px;
}

.newsImg>img{
    height: 100px;
    width: 100px;
}

.item{
    height: 300px;
    overflow: hidden;
}

.manage{
    padding-top: 100px;
}

.news-add,
.news-list,
.news-view{
   /* border: 4px solid #337ab7;*/
}


